.topSection .cardSection .leftCard .main .imgDiv {
  transform: translateY(-20px);
}
.topSection .cardSection .leftCard .main .imgDiv img {
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px;
}